{{>layout/header}}
<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
<link href="/css/signin.css" rel="stylesheet">
    {{>layout/header2}}
<header class="mb-auto">
    <div>
        <h3 class="float-md-start mb-0" >
            <a style="color:black;text-decoration:none;" href="/">
                GVCA
            </a>
        </h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link" href="/admissionapp">입학지원 시스템</a>
        </nav>
    </div>
</header>

    <main class="px-3 form-signin">
        <img class="d-block mx-auto mb-4" src="/img/gvca_logo.png" alt="" width="400" height="120">
        <h1>GLOBAL VISION</h1>
        <h1>CREATIVE ACADEMY</h1>
        <h5>학교 밖 청소년들에게 새로운 꿈을 주는 도심 속 대안학교</h5>
        <p class="lead">글로벌 창의학당 세종캠퍼스 정보시스템입니다.</p>
        <p class="lead">
        <form>
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                <input type="id" class="form-control" id="floatingInput" placeholder="id">
                <label for="floatingInput">Id</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>
{{>layout/footer}}
{{>layout/footer2}}