{{>layout/header}}
    {{>layout/header2}}
    {{>layout/topbar}}

    <main class="px-3">
        <img class="d-block mx-auto mb-4" src="/img/gvca_logo.png" alt="" width="400" height="120">
        <h1>GLOBAL VISION</h1>
        <h1>CREATIVE ACADEMY</h1>
        <h5>학교 밖 청소년들에게 새로운 꿈을 주는 도심 속 대안학교</h5>
        <p class="lead">글로벌 창의학당 세종캠퍼스 입학지원시스템입니다.</p>
        <p class="lead">
<!--            <a href="/admissionapp/save" role="button" class="btn btn-primary">등록</a>-->
            <a href="/admissionapp/save" class="btn btn-lg btn-secondary fw-bold border-dark bg-dark text-white">Apply</a>
        </p>
        <hr class="my-4">
        <h5>입시요강</h5>
        <p class="lead text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary fw-bold border-dark bg-dark text-white">입시요강 상세</a>
        </p>
    </main>

<!--    <footer class="mt-auto text-white-50">-->
<!--        <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>-->
<!--    </footer>-->
<!--</div>-->



<!--<div class="container">-->
<!--    <main>-->
<!--        <div class="py-5 text-center">-->
<!--            <img class="d-block mx-auto mb-4" src="/img/gvca_logo.png" alt="" width="400" height="150">-->
<!--            <h2>입학지원시스템</h2>-->
<!--            <pre class="lead text-left">GVCA 입학지원 페이지입니다.</pre>-->

<!--            <div class="row">-->
<!--                <div class="col-md-6">-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </main>-->
{{>layout/footer}}
{{>layout/footer2}}